
.divContent{
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 5px;
}
.divCalendrier{
    border-radius: 10px;
    border:  gray solid;
    padding: 5px;
}

.divMoi{
    font-size: 20px;
    text-align: center;
    margin-bottom: 3px;
    font-weight: bold;
   
}

.divJour{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
    
}


.contentJour{
    cursor: pointer;
    color: orange;
    font-weight: bold;
    
}

.hovertext {
position: relative;
}

.hovertext:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
width: 140px;
background-color: white;
border: 1px solid black;
color: black;
text-align: center;
border-radius: 5px;
padding: 5px 0;
transition: opacity 1s ease-in-out;
position: absolute;
z-index: 1;
left: 0;
top: 110%;
}

.hovertext:hover:before {
opacity: 1;
visibility: visible;
}


.divJours{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 3px;
    font-family: sans-serif;
    
     & div {
        height:30px;
     }
}


/* 1 colonnes */
@media (max-width: 600px){
    .page{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 2 colonnes */
@media (min-width: 699) and (max-width: 700px){
    .page{
        grid-template-columns: repeat(2, 1fr);
    }

    .divContent{
        width: 100%;
    }
}

/* 3 colonnes*/
@media (min-width: 799px) and (max-width: 800px){
    .page{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 4 colonnes*/
@media (min-width: 899px) and (max-width: 900px){
    .page{
        grid-template-columns: repeat(4, 1fr);
    }
}