.imageFrame_diaporama {
    width: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
        scale: 1.05;
        transition: var(--trans-speed);
    }

    transition: var(--trans-speed);
}