/* 2 colonnes */
@media (max-width: 499px){
    .page{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 3 colonnes*/
@media (min-width: 500px) and (max-width: 699px){
    .page{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 4 colonnes*/
@media (min-width: 700px) and (max-width: 899px){
    .page{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 5 colonnes*/
@media (min-width: 900px) and (max-width: 1099px){
    .page{
        grid-template-columns: repeat(5, 1fr);
    }
}

/* 6 colonnes*/
@media (min-width: 1100px) {
  .page {
    grid-template-columns: repeat(6, 1fr);
  }
}

.imageFrame {
    size: 20px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
        scale: 1.05;
        transition: var(--trans-speed);
    }

    transition: var(--trans-speed);
}